# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
process_lm_sino_explorer_singlefile_release
test
run_combine_lm_server

# Supplementory Files
Reconstruction_Parameters_*
crys_eff_679x840
Makefile_template_ThinkPad_T460

# Folders
lut/
temp_out/
